<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-sm navbar-light">
                    <div class="container">
                        <a class="navbar-brand text-white" href="#">LiveHotel</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>   
                        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-lg-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-white " href="#home">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#explore">Explore</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/rooms" class="nav-link text-white" >Rooms</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/filter-rooms" class="nav-link text-white">Free Rooms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>          
</div>