<br>
<br>

<div>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/newGuest.png" alt="#">
                    <h3>New Guest</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Add new guest....
                    </p>
                    <a routerLink="pages/create-guests-page">Create</a>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/guests.png" alt="#">
                    <h3>Show Guests</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
                        show the guests of this room...
                    </p>
                    <a routerLink="pages/see-guests">Show</a>
                </div>

            </div>
        </div>
    </div>
</div>

