<div>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="images/lapiz.png" alt="#">
                    <h3>New Guest</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    </p>
                    <a routerLink="guests/pages/create-guests-page">detail</a>
                </div>

            </div>  
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="images/show.png" alt="#">
                    <h3>Show Guests</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    </p>
                    <a routerLink="guests">Show</a>
                </div>

            </div>
        </div>
    </div>
</div>

