<div>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/lapiz.png" alt="#">
                    <h3>New Room</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Create new room.. 
                    </p>
                    <a routerLink="pages/create-rooms">Create</a>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/show.png " alt="#">
                    <h3>Show Room</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
                        show all the details of the rooms  
                    </p>
                    <a routerLink="pages/see-rooms">Show</a>
                </div>

            </div>
        </div>
    </div>
</div>

