body{
    margin: 0;
    padding: 0;
   /* background:url('../images/lobby2.png')no-repeat;*/
   background:rgb(228, 222, 222) !important; 
    background-attachment: fixed;
    background-size: 100% 100%;
}

header{
    position: relative;
    z-index: 1000000;

}

p{
    font-size: 1.15rem;
}
.navbar.scrolled{
    background: maroon !important;
    transition: 0.5s;
}
.navbar{
    transition: 0.5s;
    background: maroon !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.navbar-light.navbar-brand,
.navbar-light.navbar-brand:hover,
.navbar-light.navbar-brand:focus,
.navbar-light .navbar-brand:visited 
{
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.5rem;
    font-weight: 600;
}
.banner{
    position: relative;
    top:0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url("assets/hotel2.png")no-repeat;
    background-size:cover;
    background-position: center;

}
.navbar-light .navbar-nav .nav-link:hover {
    color:black;
    background: white;
    transition: 0.5s;
}
.navbar-brand:hover{
    color:black !important;
    background: white;
    transition: 0.5s;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: black !important;
    transition: 0.5s;
}
section{
    background: rgb(228, 222, 222);
}
.card-body
{
    background: maroon;
    color: mintcream;
    max-width: 500px;
    
}
.card p{
    font-size: 0.9rem;
}
h1,h2,h3{
    font-family: 'Lobster', cursive;
}

.card-title{
    font-family: 'Lobster', cursive;
}
#sub{
    font-family: 'Lobster', cursive;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1s ease;
}

.inner:hover img{
    transform: scale(1.2);
}
